{{#if success}}
    <div class="alert alert-success">{{success}}</div>
{{/if}}

{{#if errors}}
    <div class="alert alert-danger">
        <ul>
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}



<section class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center mb-3 mb-lg-5">
            <div class="col-md-6">
                <h2>Cadastrar-se</h2>
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input name="name" class="form-control bg-light" placeholder="Nome completo" type="text">
                    </div>
                    <div class="mb-3">
                        <input name="email" class="form-control bg-light" placeholder="Email" type="email">
                    </div>
                    <div class="mb-3">
                        <input name="mobile" class="form-control bg-light" placeholder="Número" type="number">
                    </div>

                    <div class="mb-3">
                        <input name="password" class="form-control bg-light" placeholder="Senha" type="password">
                    </div>

                    <div class="mb-3">
                        <input name="image" class="form-control bg-light" placeholder="Imagem" type="file" accept="image/*">
                    </div>

                    <button class="btn btn-primary" type="submit">Cadastrar-se</button>
                </form>

                
            </div>
        </div>
    </div>
</section>
