<h1>Reset senha</h1>

<% if (typeof messageError !== 'undefined') { %>
    <h3 style="color: red;"><%= messageError %></h3>
<% } %> 

<form action="/reset-password?token=<%= passwordResetData.token %>" method="POST">
    <input type="hidden" name="user_id" value="<%= passwordResetData.user_id %>">
    <input type="password" name="password" placeholder="Nova senha">
    <br><br>
    <input type="password" name="password2" placeholder="Confirme a senha">
    <br><br>
    <input type="submit" value="Resetar senha">
</form>